# OS-specific files
.DS_Store
desktop.ini
Thumbs.db

# Secrets
.env*

# Development aids
.idea/
temp/
venv/
.venv/
tags
.coverage
.temp
*.temp
.config/
.cache/

# Build/compile/release artifacts
build/
dist/
*.egg-info
*.pyc

# Other temporary files
__pycache__
.*.swp
mermaid_failed.txt
docs/README.md

# Built examples
examples/*
tutorial/*
outputs/*
!examples/**/
!examples/**/*.yml
!examples/**/*.yaml
!examples/**/*.md
!examples/drawio-import-demo.svg
examples/**/document_manifest.yaml
examples/**/*.html
examples/**/*.svg
examples/**/*.png
examples/**/*.pdf
examples/**/*.tsv
!tutorial/**/
!tutorial/**/*.yml
!tutorial/**/*.md
tutorial/**/document_manifest.yaml
tutorial/**/*.html
tutorial/**/*.svg
tutorial/**/*.png
tutorial/**/*.pdf
tutorial/**/*.tsv

site/
