# OS-specific files
.DS_Store
desktop.ini
Thumbs.db

# Secrets
.env*

# Development aids
.idea/
temp/
venv/
.venv/
tags
.coverage
.temp
*.temp
.config/
.cache/

# Build/compile/release artifacts
build/
dist/
*.egg-info
*.pyc

# Other temporary files
__pycache__
.*.swp
mermaid_failed.txt
docs/README.md

# Built examples
examples/*
tutorial/*
outputs/*
!examples/*.yml
!examples/*.document.yaml
!examples/drawio-import-demo.svg
!tutorial/*.yml
!tutorial/*.md

site/
